<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>
</head>
<body>
    <header class="topo">
        <img class="img" src="https://image.freepik.com/fotos-gratis/copie-o-fundo-espacado-com-itens-de-estudo_23-2147864599.jpg">
        <h1 class="titulo-principal">S Q U A D - S C H O O L </h1>       
      </header>
      <section>
         <div class="students"> 
             <a [routerLink]="['/courses']" routerLinkActive="router-link-active">Cursos</a>
         </div>
         <div class="cursos">
            <a [routerLink]="['/students']" routerLinkActive="router-link-active">Estudantes</a>

         </div>
          
      </section>
</body>
</html>